@model EvaluacionVehiculosMVC.DataModels.Ventas

@{
    ViewBag.Title = "ConfirmarVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Detalle de su Compra</h2>
<br />
<hr />
<br />
<fieldset>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdVenta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdVenta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaVenta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaVenta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Patente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Patente)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RUTDueno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RUTDueno)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.TotalBruto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalBruto)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IVA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IVA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalVenta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalVenta)
    </div>
</fieldset>
<br />
<p>
    @Html.ActionLink("Volver al Inicio", "Index", "Home")
</p>
