@model EvaluacionVehiculosMVC.DataModels.Ventas

@{
    ViewBag.Title = "DetalleVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirme su Compra</h2>
<hr />
<br />
@using (Html.BeginForm("ConfirmarVenta", "Venta"))
{

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FechaVenta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaVenta)
        @Html.HiddenFor(model => model.FechaVenta)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Patente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Patente)
        @Html.HiddenFor(model => model.Patente)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RUTDueno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RUTDueno)
        @Html.HiddenFor(model => model.RUTDueno)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.TotalBruto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalBruto)
        @Html.HiddenFor(model => model.TotalBruto)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IVA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IVA)
        @Html.HiddenFor(model => model.IVA)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.TotalVenta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalVenta)
        @Html.HiddenFor(model => model.TotalVenta)
    </div>

    <br />
    <div class="botonera"><input type="button" class="cancelar" value="Cancelar" onclick="@("window.location.href='" + @Url.Action("Index", "Venta") + "'");" /><input type="submit" value="Confirmar Compra" />
    </div>
}
<br />